body{
  color: #14514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif; /* links on these fonts are declared in index file */
}
a{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    text-decoration: none;
    margin: 10px auto;
}
a:hover{
    color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
h1{
  font-size: 5.625rem; /*1rem = 16px*/
  margin: 20px auto 0;
  font-family: 'Sacramento', cursive;
  color:  #66BFBF;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color:  #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border-style: dotted none none;
  border-color: #ECEAF6;
  border-width: 5px;
  width: 6%;
  margin: 75px auto;
}
p{
  line-height: 2; /* space between lines of text */
}
.top-container{
  position: relative; /* helps us to connect the objects inside this block with its borders */
  background-color: #EAF6F6; /*#B9F8D3;*/
  padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 15px 0;
}
.underlined{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  top: 10%;
  right: 15%;
}
.bottom-cloud{
  position: absolute; /*helps us to determine exactly the layout of our object*/
  bottom: 40%;
  left: 15%;
}
.skill-row{
    margin: 75px auto;
    width: 50%;
    text-align: left;
}
.maths-pic{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.code-pic{
    width: 25%;
    float: right; /* float helps us to surrender our image with text (in our case on right-side */
    margin-left: 30px;
}
.my-face{
    width: 50%;
    margin: 50px auto 0;
}
.profile{
    width: 35%;
    margin: 25px auto 75px;
}
.call-to-write{
    width: 35%;
    margin: 50px auto;
}
.copyrighting{
    display: block;
    color: #EAF6F6;
    font-size: 0.75rem;
    margin: 15px auto;
}

/* clear property helps to ban the text-floating around this object */
